.signUpForm {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0px #000;
  transform: translate(-50%, -50%);
  background-color: #ED2855;
}

.signUpForm .formUp {
  margin: 80px 40px;
}

.signUpForm .formUp h2 {
  padding: 20px 0;
  color: #fff;
}

.signUpForm .formUp input {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #fff;
  background-color: #ED2855;
  color: #fff;
}

.signUpForm .formUp input::-webkit-input-placeholder {
  color: #fff;
}

.signUpForm .formUp .closeSign {
  color: #fff;
}

.signUpForm .formUp .action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

.signUpForm .formUp .action input {
  position: relative;
  border: 3px solid white;
  color: white;
  width: 200px;
  height: 60px;
}

.signUpForm .formUp .action a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.closeSign {
  position: absolute;
  top: 10px;
  right: 10px;
}

.signInForm {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0px #000;
  transform: translate(-50%, -50%);
}

.signInForm .formIn {
  margin: 80px 40px; 
}

.signInForm .formIn h2 {
  padding: 20px 0;
  color: #ED2855;
}

.signInForm .formIn input {
  width: 100%;
  height: 60px;
  border: none;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #ddd;
}

.signInForm .formIn .action {
  text-align: center;
  margin: 40px auto;
}

.signInForm .formIn .action input {
  position: relative;
  border: 3px solid #ED2855;
  background-color: #fff;
  color: #ED2855;
  width: 200px;
  height: 60px;
}

.signInForm .formIn .action a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #ED2855;
}