.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0px #000;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center; }
  .login .signUpForm {
    position: relative;
    width: 100%;
    background-color: #ED2855; }
    .login .signUpForm .formUp {
      margin-top: 80px;
      margin-left: 40px; }
      .login .signUpForm .formUp h2 {
        padding: 20px 0;
        color: #fff; }
      .login .signUpForm .formUp input {
        width: 100%;
        height: 60px;
        border: none;
        font-size: 16px;
        outline: none;
        border-bottom: 1px solid #fff;
        background-color: #ED2855;
        color: #fff; }
      .login .signUpForm .formUp input::-webkit-input-placeholder {
        color: #fff; }
      .login .signUpForm .formUp .closeSign {
        color: #fff; }
      .login .signUpForm .formUp .action {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px auto; }
        .login .signUpForm .formUp .action input {
          border: 3px solid white;
          color: white;
          margin-right: 40px;
          width: 200px;
          height: 60px; }
        .login .signUpForm .formUp .action a {
          position: absolute;
          bottom: 20px;
          left: 33%;
          color: white; }
  .login .closeSign {
    position: absolute;
    top: 10px;
    right: 10px; }
  .login .signInForm {
    position: relative;
    width: 100%; }
    .login .signInForm .formIn {
      margin-top: 80px;
      margin-left: 40px; }
      .login .signInForm .formIn h2 {
        padding: 20px 0;
        color: #ED2855; }
      .login .signInForm .formIn input {
        width: 100%;
        height: 60px;
        border: none;
        font-size: 16px;
        outline: none;
        border-bottom: 1px solid #ddd; }
      .login .signInForm .formIn .action {
        text-align: center;
        margin: 40px auto; }
        .login .signInForm .formIn .action input {
          border: 3px solid #ED2855;
          background-color: #fff;
          color: #ED2855;
          margin-right: 40px;
          width: 200px;
          height: 60px; }
        .login .signInForm .formIn .action a {
          position: absolute;
          bottom: 20px;
          left: 50%;
          margin-left: -40px;
          color: #ED2855; }