 .resume .editSpan {
     position: relative;
 }

 .resume .editSpan button {
     position: absolute;
     left: 100%;
     top: 12%;
     white-space: nowrap;
     display: none;
     z-index: 1;
 }
 .resume .editSpan:hover button {
     display: block;
 }

 .resume h1 button {
     top: 36%;
 }