
    /* 青色皮肤 */
    .wrapper.blueness main {
      background-color: #CCFFFF;
    }

    .wrapper.blueness .mainInner {
      background-color: #66CCCC;
      color: white;
    }

    /* 红色皮肤 */
    .wrapper.red main {
      background-color: #FFCCCC;
    }

    .wrapper.red .mainInner {
      background-color: #ED2855;
      color: white;
    }