*{margin: 0;padding: 0; box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
a{color: inherit;text-decoration: none;}
ol,li{list-style: none;}

#app{
    display: flex;
    height: 100vh;
    font-size: 18px;
    overflow: hidden;
    aside{
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        border:1px solid #ddd;

        button{
            font-size: 18px;
            padding: 10px;
        }
        .upButton{
            li{
                margin: 10px 0;
            }
        }
        .downButton{
            button{
                margin-bottom: 10px
            }
        }
    }
    main{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        overflow: auto;
        .mainInner{
            text-align: center;
            max-width: 800px;
            section{
                padding: 50px;
            }
            .resume{

            }
            .skill{
               .skillList{
                   display: flex;
                   flex-wrap: wrap;
                   justify-content: space-between;
                   li{
                    border: 1px solid red;
                        margin: 20px 0;
                       width: 48%;
                   }
               } 
            }
            .production{
                .productionList{
                    li{
                        text-align: left;
                        border: 1px solid red;
                        margin: 20px 0;
                        header{
                            display: flex;
                            align-items: center;
                        }
                        .productionIntro{
                            display: flex;
                            flex-grow: 1;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
    }
}